@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;700&display=swap');
@font-face{
    font-family: 'PUSAB';
    src: url('PUSAB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
html {
    font-family: 'PUSAB';
    text-overflow: ellipsis;
    flex-shrink: 1;
}

body {
    background-color: #202020
}
#headblock {
    background-color: yellow;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100vw;
    height: 10vh;
    border-bottom: 1vh solid black;
}
#cube1 {
    position: absolute;
    top: 1vh;
    left: 2vh;
    width: 8vh;
    height: auto;
    --spin-duration: 1s;
    animation: none;
}
#cube2 {
    position: absolute;
    top: 1vh;
    right: 2vh;
    width: 8vh;
    height: auto;
    --spin-duration: 1s;
    animation: none;
}
#statistics {
    background-color: #00FFFF;
    border-radius: 5vh;
    height: 85vh;
    width: 22.5vw;
    border: 1vh solid black;
    position: absolute;
    top: 12.5vh;
    right: 2.5vh;
}

#searchbar {
    font-family: 'Lexend', sans-serif !important;
    color: black;
    font-size: 3vh;
    position: absolute;
    top: 17.5vh;
    left: 2vw;
    height: 5vh;
    width: 23.5vw;
    background-color: #00FFFF;
    border: 0.5vh solid black;
    border-radius: 2vh;
    display: flex;
    align-items: center;
    padding: 0 1vh;
    box-sizing: border-box;
}

#sortbox{
    color: black;
    font-size: 3vh;
    position: absolute;
    top: 12vh;
    left: 2vw;
    height: 5vh;
    width: 23.5vw;
    background-color: #00FFFF;
    border: 0.5vh solid black;
    border-radius: 2vh;
    display: flex;
    align-items: center;
    padding: 0 1vh;
    box-sizing: border-box;
}
#sortbytext{
    font-family: 'Lexend', sans-serif;
    font-weight: bold;
    font-size: 3vh;
    margin-right: auto;
}
#sortselect {
    font-family: 'Lexend', sans-serif;
    font-weight: bold;
    margin-left: auto;
    height: 3.5vh;
    font-size: 2vh;
    border-radius: 1vh;
    border: solid black 0.25vh;
    padding: 0 1vh;
    background-color: yellow;
    color: black;
}
#videobox {
    position: absolute;
    left: 50%;
    top: 15vh;
    transform: translateX(-50%);
    width: 45vw;
    aspect-ratio: 16/9;
    background-color: grey;
    border: 1vh solid black;
    border-radius: 2.5vh;
    overflow: auto;
}
#levelsbutton {
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 5vh;
    width: 12vw;
    top: 2vh;
    left: 22.5vw;
    padding: 0;
    background: transparent;
    border: none;
    transform-origin: center center;
    will-change: transform;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: PUSAB, 'Lexend',sans-serif, bold;
}


#levelsbutton::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 2vh;
    border: 0.5vh solid black;
    transition: transform 0.25s ease, box-shadow 0.25s ease;
    transform-origin: center center; 
    z-index: 0;
    pointer-events: none;
    will-change: transform;
    backface-visibility: hidden;
    background-color: var(--button-bg-color, white); 
    

}

#levelsbuttontext {
    position: relative;
    z-index: 2;
    font-size: 4vh;
    line-height: 1;
    will-change: transform;
    transform: translateZ(0);
}
#opinionsbutton {
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 5vh;
    width: 12vw;
    top: 2vh;
    left: 37.5vw;
    padding: 0;
    background: transparent; 
    border: none;
    transform-origin: center center;
    will-change: transform;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: PUSAB, 'Lexend',sans-serif, bold;
    
}


#opinionsbutton::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: white;
    border-radius: 2vh;
    border: 0.5vh solid black;
    transition: transform 0.25s ease, box-shadow 0.25s ease;
    transform-origin: center center; 
    z-index: 0;
    pointer-events: none;
    will-change: transform;
    backface-visibility: hidden;
    background-color: var(--button-bg-color, white); 
}


#opinionsbuttontext {
    position: relative;
    z-index: 2;
    font-size: 4vh;
    line-height: 1;
    will-change: transform;
    transform: translateZ(0);
}

#homebutton {
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 5vh;
    width: 12vw;
    top: 2vh;
    left: 7.5vw;
    padding: 0;
    background: transparent; 
    border: none;
    transform-origin: center center;
    will-change: transform;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: PUSAB, 'Lexend',sans-serif, bold;
    
}

#homebutton::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 2vh;
    border: 0.5vh solid black;
    transition: transform 0.25s ease, box-shadow 0.25s ease;
    transform-origin: center center; 
    z-index: 0;
    pointer-events: none;
    will-change: transform;
    backface-visibility: hidden;
    background-color: var(--button-bg-color, white); 
}


#homebuttontext {
    position: relative;
    z-index: 2;
    font-size: 4vh;
    line-height: 1;
    will-change: transform;
    transform: translateZ(0);
}


.level-entry-wrapper {
    display: flex; 
    width: 95%; 
    height: 5vh; 
    margin: 1vh 0; 
    font-weight: bold;
    --rank-bg-color: #AAAAAA; 
    --name-bg-color: #757575; 
    --hover-color: yellow; 
    
    
}


.level-rank-box {
    height: 5vh;
    width: 5vh; 
    background-color: var(--rank-bg-color); 
    border: 0.25vh solid black;
    border-radius: 1vh 0 0 1vh;
    text-align: center;
    line-height: 5vh; 
    font-size: 2.5vh;
    font-weight: bold;
    color: black;
    cursor: pointer;
    transition: background-color 0.2s; 
}


.level-name-box {
    flex-grow: 1; 
    position: relative;
    height: 5vh;
    padding-left: 1vh;
    text-align: left;
    font-size: 2.5vh;
    line-height: 5vh; 
    background-color: var(--name-bg-color); 
    border: 0.25vh solid black;
    border-left: none;
    border-radius: 0 1vh 1vh 0; 
    color: black;
    cursor: pointer;
    transition: background-color 0.2s;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


#levelscontainer {
    scroll-behavior: smooth;
    background-color: #00FFFF;
    border-radius: 5vh;
    height: 75vh;
    width: 25vw;
    border: 1vh solid transparent;
    position: absolute;
    top: 24vh;
    left: 2.5vh;
    overflow-y: auto;
    overflow-x: auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    outline: 1.25vh solid black;
    outline-offset: -1vh;
    clip-path: inset(0px round 5vh);
    font-family: 'Lexend', sans-serif;
    font-weight: bold;
}

#levelscontainer::-webkit-scrollbar {
    width: 1vh;
    position: absolute;
    right: 0;
}

#levelscontainer::-webkit-scrollbar-track {
    background: #00AAAA;
    border-left: 1px solid black;
}

#levelscontainer::-webkit-scrollbar-thumb {
    background: yellow;
    border: 2px solid black;
    border-radius: 0.5vh;
}

#searchinput {
    border: none;
    background: transparent;
    text-align: center;
    height: 3.5vh;
    width: 100%;
    font-family: PUSAB;
    font-size:3vh;
}
#MagGlass {
    height: 3vh;
    width: auto;
}

#summarybox {
    background-color: #505050;
    border: 0.5vh solid black;
    border-radius: 2.5vh;
    position: absolute;
    top: 75vh;
    left: 27vw;
    width: 44.5vw;
    height: 20vh;
    font-family: 'Lexend', sans-serif;
    line-height: 3vh;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    padding-top: 1vh;
    overflow-y: auto;
    scrollbar-width: 0vh;

}
