
#statstext {
    text-align: center;
    background-color: yellow;
    position: absolute;
    height: 7.5vh;
    line-height: 7.5vh;
    font-size: 6.5vh;
    left: 5%;
    transform: translateX(-1vh);
    top: 2.5%;
    width: 90%;
    border: 1vh solid black;
    border-radius: 2vh;
}

#extremenum {
    font-family: 'Lexend', sans-serif;
    font-weight: 800;
    position: absolute;
    text-align: center;
    line-height: 5vh;
    border: 5px solid black;
    border-radius: 5px;
    background-color: #AAAAAA;
    height: 5vh;
    font-size: 3vh;
    width: 42.5%;
    left: 2.5%;
    top: 12.5vh;
}
#extremenumdata {
    font-family: 'Lexend', sans-serif;
    font-weight: bold;
    position: absolute;
    text-align: center;
    line-height: 5vh;
    border: 5px solid black;
    border-radius: 5px;
    background-color: #AAAAAA;
    height: 5vh;
    font-size: 3vh;
    width: 42.5%;
    right: 2.5%;
    top: 12.5vh;
}
#completiondate {
    font-family: 'Lexend', sans-serif;
    font-weight: 800;
    position: absolute;
    text-align: center;
    line-height: 5vh;
    border: 5px solid black;
    border-radius: 5px;
    background-color: #777777;
    height: 5vh;
    font-size: 3vh;
    width: 20%;
    left: 2.5%;
    top: 20.625vh;
}
#completiondatedata {
    font-family: 'Lexend', sans-serif;
    font-weight: bold;
    position: absolute;
    text-align: center;
    line-height: 5vh;
    border: 5px solid black;
    border-radius: 5px;
    background-color: #777777;
    height: 5vh;
    font-size: 2.75vh;
    width: 65%;
    right: 2.5%;
    top: 20.625vh;
}
#worstdeath {
    font-family: 'Lexend', sans-serif;
    font-weight: 800;
    position: absolute;
    text-align: center;
    line-height: 5vh;
    border: 5px solid black;
    border-radius: 5px;
    background-color: #AAAAAA;
    height: 5vh;
    font-size: 3vh;
    width: 47.5%;
    left: 2.5%;
    top: 28.75vh;
}
#worstdeathdata {
    font-family: 'Lexend', sans-serif;
    font-weight: bold;
    position: absolute;
    text-align: center;
    line-height: 5vh;
    border: 5px solid black;
    border-radius: 5px;
    background-color: #AAAAAA;
    height: 5vh;
    font-size: 3vh;
    width: 37.5%;
    right: 2.5%;
    top: 28.75vh;
}
#true {
    font-family: 'Lexend', sans-serif;
    font-weight: 800;
    position: absolute;
    text-align: center;
    line-height: 5vh;
    border: 5px solid black;
    border-radius: 5px;
    background-color: #777777;
    height: 5vh;
    font-size: 3vh;
    width: 42.5%;
    left: 2.5%;
    top: 36.875vh;
}
#truedata {
    font-family: 'Lexend', sans-serif;
    font-weight: bold;
    position: absolute;
    text-align: center;
    line-height: 5vh;
    border: 5px solid black;
    border-radius: 5px;
    background-color: #777777;
    height: 5vh;
    font-size: 3vh;
    width: 42.5%;
    right: 2.5%;
    top: 36.875vh;
}
#attempts {
    font-family: 'Lexend', sans-serif;
    font-weight: 800;
    position: absolute;
    text-align: center;
    line-height: 5vh;
    border: 5px solid black;
    border-radius: 5px;
    background-color: #AAAAAA;
    height: 5vh;
    font-size: 3vh;
    width: 42.5%;
    left: 2.5%;
    top: 45vh;
}
#attemptsdata {
    font-family: 'Lexend', sans-serif;
    font-weight: bold;
    position: absolute;
    text-align: center;
    line-height: 5vh;
    border: 5px solid black;
    border-radius: 5px;
    background-color: #AAAAAA;
    height: 5vh;
    font-size: 3vh;
    width: 42.5%;
    right: 2.5%;
    top: 45vh;
}
#length {
    font-family: 'Lexend', sans-serif;
    font-weight: 800;
    position: absolute;
    text-align: center;
    line-height: 5vh;
    border: 5px solid black;
    border-radius: 5px;
    background-color:#777777;
    height: 5vh;
    font-size: 3vh;
    width: 42.5%;
    left: 2.5%;
    top: 53.125vh;
}
#lengthdata {
    font-family: 'Lexend', sans-serif;
    font-weight: bold;
    position: absolute;
    text-align: center;
    line-height: 5vh;
    border: 5px solid black;
    border-radius: 5px;
    background-color: #777777;
    height: 5vh;
    font-size: 3vh;
    width: 42.5%;
    right: 2.5%;
    top: 53.125vh;
}
#enjoyment {
    font-family: 'Lexend', sans-serif;
    font-weight: 800;
    position: absolute;
    text-align: center;
    line-height: 5vh;
    border: 5px solid black;
    border-radius: 5px;
    background-color: #AAAAAA;
    height: 5vh;
    font-size: 3vh;
    width: 42.5%;
    left: 2.5%;
    top: 61.25vh;
}
#enjoymentdata {
    font-family: 'Lexend', sans-serif;
    font-weight: bold;
    position: absolute;
    text-align: center;
    line-height: 5vh;
    border: 5px solid black;
    border-radius: 5px;
    background-color: #AAAAAA;
    height: 5vh;
    font-size: 3vh;
    width: 42.5%;
    right: 2.5%;
    top: 61.25vh;
}
#heartrate {
    font-family: 'Lexend', sans-serif;
    font-weight: 800;
    position: absolute;
    text-align: center;
    line-height: 5vh;
    border: 5px solid black;
    border-radius: 5px;
    background-color:#777777;
    height: 5vh;
    font-size: 3vh;
    width: 42.5%;
    left: 2.5%;
    top: 69.375vh;
}
#heartratedata{
    font-family: 'Lexend', sans-serif;
    font-weight: bold;
    position: absolute;
    text-align: center;
    line-height: 5vh;
    border: 5px solid black;
    border-radius: 5px;
    background-color: #777777;
    height: 5vh;
    font-size: 3vh;
    width: 42.5%;
    right: 2.5%;
    top: 69.375vh;
}
#aredl {
    font-family: 'Lexend', sans-serif;
    font-weight: 800;
    position: absolute;
    text-align: center;
    line-height: 5vh;
    border: 5px solid black;
    border-radius: 5px;
    background-color: #AAAAAA;
    height: 5vh;
    font-size: 3vh;
    width: 42.5%;
    left: 2.5%;
    top: 77.5vh;
}
#aredldata {
    font-family: 'Lexend', sans-serif;
    font-weight: bold;
    position: absolute;
    text-align: center;
    line-height: 5vh;
    border: 5px solid black;
    border-radius: 5px;
    background-color: #AAAAAA;
    height: 5vh;
    font-size: 3vh;
    width: 42.5%;
    right: 2.5%;
    top: 77.5vh;
}